*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.form_act{
    background-color: rgb(69, 68, 68);
    height: 100vh;
    width: 100vw;

}
.form_level{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
}
form input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
form label{
    font-size: 20px;
    font-weight: bold;
}
form button{
     margin: auto;
    padding: 10px;
    cursor: pointer;
    width: 200px;

}